<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100;1,500&display=swap" rel="stylesheet">

    <title>Sıfır Araç Fiyatları</title>
</head>
<body>
    <div id="logo" class="logo">
        <a href="/">
            <img alt="logo" src="/static/car_logos/logo.png">
        </a>
    </div>
    <div id="all_buttons" class="all_buttons">
        <div class="brand">
            <div class="car_logo">
                <a href="/alfa-romeo">
                    <img src="/static/car_logos/alfa_romeo.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/alfa-romeo">Alfa Romeo</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/aston-martin">
                    <img src="/static/car_logos/aston_martin.png" width="147" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/aston-martin">Aston Martin</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/audi">
                    <img src="/static/car_logos/audi.png" width="147" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/audi">Audi</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/bentley">
                    <img src="/static/car_logos/bentley.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/bentley">Bentley</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/bmw">
                    <img src="/static/car_logos/bmw.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/bmw">BMW</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/bugatti">
                    <img src="/static/car_logos/bugatti.png" width="154" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/bugatti">Bugatti</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/cadillac">
                    <img src="/static/car_logos/cadillac.png" width="115" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/cadillac">Cadillac</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/chery">
                    <img src="/static/car_logos/chery.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/chery">Chery</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/chevrolet">
                    <img src="/static/car_logos/chevrolet.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/chevrolet">Chevrolet</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/citroen">
                    <img src="/static/car_logos/citroen.png" width="120" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/citroen">Citroen</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/dacia">
                    <img src="/static/car_logos/dacia.png" width="120" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/dacia">Dacia</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/daewoo">
                    <img src="/static/car_logos/daewoo.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/daewoo">Daewoo</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/dodge">
                    <img src="/static/car_logos/dodge.png" width="120" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/dodge">Dodge</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/ferrari">
                    <img src="/static/car_logos/ferrari.png" width="95" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/ferrari">Ferrari</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/fiat">
                    <img src="/static/car_logos/fiat.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/fiat">Fiat</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/ford">
                    <img src="/static/car_logos/ford.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/ford">Ford</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/geely">
                    <img src="/static/car_logos/geely.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/geely">Geely</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/honda">
                    <img src="/static/car_logos/honda.png" width="120" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/honda">Honda</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/hyundai">
                    <img src="/static/car_logos/hyundai.png" width="150" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/hyundai">Hyundai</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/infiniti">
                    <img src="/static/car_logos/infiniti.png" width="180" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/infiniti">Infiniti</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/isuzu">
                    <img src="/static/car_logos/isuzu.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/isuzu">Isuzu</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/iveco">
                    <img src="/static/car_logos/iveco.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/iveco">Iveco</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/jaguar">
                    <img src="/static/car_logos/jaguar.png" width="155" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/jaguar">Jaguar</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/jeep">
                    <img src="/static/car_logos/jeep.png" width="170" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/jeep">Jeep</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/kia">
                    <img src="/static/car_logos/kia.png" width="165" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/kia">Kia</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/lada">
                    <img src="/static/car_logos/lada.png" width="140" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/lada">Lada</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/lamborghini">
                    <img src="/static/car_logos/lamborghini.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/lamborghini">Lamborghini</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/lancia">
                    <img src="/static/car_logos/lancia.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/lancia">Lancia</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/land-rover">
                    <img src="/static/car_logos/land-rover.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/land-rover">Land Rover</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/lexus">
                    <img src="/static/car_logos/lexus.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/lexus">Lexus</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/lincoln">
                    <img src="/static/car_logos/lincoln.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/lincoln">Lincoln</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/lotus">
                    <img src="/static/car_logos/lotus.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/lotus">Lotus</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/maserati">
                    <img src="/static/car_logos/maserati.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/maserati">Maserati</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/mazda">
                    <img src="/static/car_logos/mazda.png" width="140" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/mazda">Mazda</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/mclaren">
                    <img src="/static/car_logos/mclaren.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/mclaren">Mclaren</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/mercedes">
                    <img src="/static/car_logos/mercedes.png" width="145" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/mercedes">Mercedes</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/mini">
                    <img src="/static/car_logos/mini.png" width="170" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/mini">Mini</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/mitsubishi">
                    <img src="/static/car_logos/mitsubishi.png" width="125" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/mitsubishi">Mitsubishi</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/nissan">
                    <img src="/static/car_logos/nissan.png" width="125" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/nissan">Nissan</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/opel">
                    <img src="/static/car_logos/opel.png" width="130" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/opel">Opel</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/peugeot">
                    <img src="/static/car_logos/peugeot.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/peugeot">Peugeot</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/porsche">
                    <img src="/static/car_logos/porsche.png" width="85" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/porsche">Porsche</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/proton">
                    <img src="/static/car_logos/proton.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/proton">Proton</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/renault">
                    <img src="/static/car_logos/renault.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/renault">Renault</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/rolls-royce">
                    <img src="/static/car_logos/rolls-royce.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/rolls-royce">Rolls-Royce</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/saab">
                    <img src="/static/car_logos/saab.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/saab">Saab</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/seat">
                    <img src="/static/car_logos/seat.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/seat">Seat</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/skoda">
                    <img src="/static/car_logos/skoda.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/skoda">Skoda</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/subaru">
                    <img src="/static/car_logos/subaru.png" width="160" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/subaru">Subaru</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/suzuki">
                    <img src="/static/car_logos/suzuki.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/suzuki">Suzuki</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/tata">
                    <img src="/static/car_logos/tata.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/tata">Tata</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/tofas">
                    <img src="/static/car_logos/tofas.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/tofas">Tofaş</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/toyota">
                    <img src="/static/car_logos/toyota.png" width="140" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/toyota">Toyota</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/volkswagen">
                    <img src="/static/car_logos/volkswagen.png" width="110" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/volkswagen">Volkswagen</a></h2>
            </div>
        </div>
        <div class="brand">
            <div class="car_logo">
                <a href="/volvo">
                    <img src="/static/car_logos/volvo.png" width="120" height="110">
                </a>
            </div>
            <div class="name">
                <h2><a href="/volvo">Volvo</a></h2>
            </div>
        </div>
    </div>
</body>
</html>